@font-face {
  font-family: 'TT Firs Neue';
  src: url('~assets/fonts/TTFirsNeue-Thin.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TT Firs Neue';
  src: url('~assets/fonts/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TT Firs Neue';
  src: url('~assets/fonts/TTFirsNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
